<h1>Bookings#index</h1>

<div class="bookings-container">
  <div class="wrapper-owner-bookings">
    <%# TO DO: small card with image, name duck, booking status, name customer %>
    <% @bookings.each do |booking| %>
      <p>Customer: <%= booking.user.first_name %></p>
      <p>Duck: <%= booking.duck.name %></p>
      <p>Owner: <%= booking.duck.user.first_name %></p>
      <p>Status: <%= booking.status == false ? "Pending" : "Booked" %></p>
      <% if booking.status == false && booking.duck.user == current_user %>
        <%= link_to "Accept", edit_booking_path(booking), class:"btn-ghost" %>
        <%= link_to "Reject", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-ghost"%>
      <% end %>
      <% if booking.status == true %>
        <%= link_to "End booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-ghost"%>
      <% end %>
    <% end %>
  </div> <!-- end wrapper-owner-booking-->
  <div class="wrapper-customer-bookings">
  </div> <!-- end wrapper-customer-booking-->
</div> <!-- end bookings-container-->
