<div class="bookings-container">
  <div class="wrapper-owner-bookings">

      <h2 class="bookings-header">Booking requests</h2>
      <% @duck_bookings.each do |booking| %>
        <div class="bookings-cards">
          <p>Customer: <%= booking.user.first_name %></p>
          <p>Duck: <%= booking.duck.name %></p>
          <p>Owner: <%= booking.duck.user.first_name %></p>
          <p>Status: <%= booking.status == false ? "Pending" : "Booked" %></p>
          <% if booking.status == false %>
            <%= link_to "Accept", edit_booking_path(booking), class:"btn-green" %>
            <%= link_to "Reject", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-red"%>
          <% end %>
          <% if booking.status == true %>
            <%= link_to "End booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-red"%>
          <% end %>
          <%= image_tag booking.duck.image_url, class: "booking-image" %>
        </div> <!-- end owner-cards-->
      <% end %>

  </div> <!-- end wrapper-owner-booking-->
  <div class="wrapper-customer-bookings">
      <h2 class="bookings-header">Your bookings</h2>
      <% @bookings.each do |booking| %>
        <% if booking.user == current_user %>
          <div class="bookings-cards">
            <p>Customer: <%= booking.user.first_name %></p>
            <p>Duck: <%= booking.duck.name %></p>
            <p>Owner: <%= booking.duck.user.first_name %></p>
            <p>Status: <%= booking.status == false ? "Pending" : "Booked" %></p>
            <% if booking.status == true %>
              <%= link_to "End booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-red"%>
            <% end %>
              <%= image_tag booking.duck.image_url, class: "booking-image" %>

          </div><!-- end bookings-cards-->
        <% end %>
      <% end %>

  </div> <!-- end wrapper-customer-booking-->
</div> <!-- end bookings-container-->
