<div class="form-container">
  <div class="ducks-form">
    <h1>You're about to book <%= @duck.name %>!</h1>
    <%= simple_form_for [@duck, @booking] do |f| %>
      <%= f.input :user_id, value: current_user.id, placeholder: current_user.first_name, input_html: { disabled: true }  %>
      <%= f.input :comment, placeholder: "Write a message for the owner" %>
      <%= f.submit 'Request to book', class: "btn-ghost" %>
    <% end %>
  </div>
</div>
