<!DOCTYPE html>
<html>
  <head>
    <title>RUBBERDuck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
  </head>

  <body>
    <div class="navbar-container">
      <div class="index-navbar">
       <%= link_to root_path do %>
       <div class="logo-name">
          <%= image_tag "https://raw.githubusercontent.com/RubberDuckDebugging/rubberduckdebugging.github.io/master/images/rubberducky.png", class:"navbar-img" %>
          <h3 id="header-text">Duck on Demand</h3>
        </div>
        <% end %>
        <div class="navbar-buttons">
          <%= link_to "All ducks", ducks_path, class:"navbar-item" %>
          <% if user_signed_in? %>
            <%= link_to "Bookings", bookings_path, class:"navbar-item" %>
            <%= link_to "Create new duck", new_duck_path, class:"navbar-item" %>
            <%= link_to "Logout", destroy_user_session_path,
                data: {turbo_method: :delete}, class:"navbar-item"  %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class:"navbar-item" %>
          <% end  %>
          <input class ="navbar-item" type="text" placeholder="Search..">
        </div>
      </div>
      <hr>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>
    <%= yield %>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="footer-links">
          <a href="https://github.com/alexandra-james/RUBBER_DUCK"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/RubberDuckBP"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/rubber-duck-ltd/?originalSubdomain=bg"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          This footer is made with <i class="fas fa-heart"></i> at Duck On Demand
        </div>
      </div>
    </div>
  </body>
</html>
